<a href="https://colab.research.google.com/github/therealhaseeb/AI_Project_For_Beginners/blob/main/PyMongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Install PyMongo (if required)

In [1]:
# Instaling PyMongo, this is the interface to connect to MongoDB with Python
! python -m pip install pymongo==3.7.2

Collecting pymongo==3.7.2
  Downloading https://files.pythonhosted.org/packages/99/18/b50834fbfd557eaf07985c2a657b03efc691462ecba62d03e32c2fc4f640/pymongo-3.7.2-cp37-cp37m-manylinux1_x86_64.whl (406kB)
     |████████████████████████████████| 409kB 3.8MB/s
Installing collected packages: pymongo
  Found existing installation: pymongo 3.11.4
    Uninstalling pymongo-3.11.4:
      Successfully uninstalled pymongo-3.11.4
Successfully installed pymongo-3.7.2

#2. Import PyMongo and establish connection

To practice MongoDB, you can use a free service with limited storage to train or test your code.

Here for the example, I use https://www.clever-cloud.com/en/

Other services:

https://studio3t.com/knowledge-base/articles/cheap-free-mongodb-hosting/

In [2]:
import datetime                            # Imports datetime library

import pymongo
from pymongo import MongoClient

# uri (uniform resource identifier) defines the connection parameters 
uri = 'mongodb://u1kkdrchfjim80tclysv:FeesC2ACNmI7be61RTst@brny4kjelauboxl-mongodb.services.clever-cloud.com:27017/brny4kjelauboxl'
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [3]:
client.stats                                # .stats  show details about the client

Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

# 3. Basic Database management operations

In [4]:
# Show existing database names
client.list_database_names()

['brny4kjelauboxl']

In [5]:
# Set database name to work with. If it doesn't exist, it will be created as soon as one document is added.
db = client.brny4kjelauboxl

In [6]:
# Delete a database
client.drop_database('brny4kjelauboxl')

#4. Basic Collection management operations

In [7]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
db.create_collection('adressbook')       # Optional collection creation

Collection(Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'brny4kjelauboxl'), 'adressbook')

In [8]:
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'brny4kjelauboxl.adressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('10e70f88-213e-4867-a297-166da8ef9cec')},
  'name': 'adressbook',
  'options': {},
  'type': 'collection'}]

In [9]:
# Set the collection to work with
collection = db.adressbook
collection.insert_one({'name' : 'jordi'})     # Insert one item to create the collection
list (collection.find())                  # Show the existing collections

[{'_id': ObjectId('60ea4281a23e1f0043234562'), 'name': 'jordi'}]

In [10]:
# Rename a collections
db.adressbook.rename('addressbook')
collection = db.addressbook                   # Set the collection to work with
list (db.list_collections())                  # Show the existing collections

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'brny4kjelauboxl.addressbook',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('10e70f88-213e-4867-a297-166da8ef9cec')},
  'name': 'addressbook',
  'options': {},
  'type': 'collection'}]

In [11]:
# Delete collection
db.drop_collection('addressbook')

{'$clusterTime': {'clusterTime': Timestamp(1625965185, 167),
  'signature': {'hash': b'D\xfdA8.\xe8X\x1d\xc9\xee\xd7suIk\xed{\xbfhh',
   'keyId': 6950216782485389313}},
 'nIndexesWas': 1,
 'ns': 'brny4kjelauboxl.addressbook',
 'ok': 1.0,
 'operationTime': Timestamp(1625965185, 166)}

# 5. Basic Collection operations

##5.1 Query Operators - Create Read Update Delete  (one document)

### 5.1.1 Create a document with:  insert_one()

To insert a document can be done using: insert_one and JavaScript notation  { 'attributeName1'  :  'content1', 'attributeName2'  :  'content2', ... }

In [12]:
#@title Contact
 
Name = "Jordi " #@param {type:"string"}
Age = 34 #@param {type:"slider", min:10, max:80, step:1}
Gender = "Male" #@param ["Male", "Female"]
Likes_Python = "Yes" #@param ["Yes", "No"]
if Likes_Python is "Yes":
  Likes_Python = True
else:
  Likes_Python = False
 
 
#@markdown Address
Street = "Torrent de l'Olla" #@param {type:"string"}
Number = 70 #@param {type:"integer"}
City = "Barcelona" #@param {type:"string"}
PostalCode = "08012" #@param {type:"string"}

In [13]:
data = {  'name' : Name ,                                    # String 
          'age' : Age,                                       # Integer
          'gender' : Gender,                                 # String 
          'likes_python' : Likes_Python,                     # Boolean
          'address': {
              'street' : Street,                             # String ( special character with escape \ )
              'number' : Number,                             # Integer
              'city' : City,                                 # String 
              'floor' : None,                                # Null 
              'postalcode' : PostalCode,                     # String containing a number
              },
          'favouriteFruits': ['banana','pineapple','orange'] # Array        
       }
 
insert_result = collection.insert_one( data)

In [14]:
insert_result.acknowledged    # Confirms that insert is successful

True

In [15]:
insert_result.inserted_id     # Shows the document ID

ObjectId('60ea4282a23e1f0043234563')

###5.1.2 Read document with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [16]:
list ( collection.find() )                                      # gets all data of collection

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [17]:
list ( collection.find( {'_id' : insert_result.inserted_id } ))  # Find the inserted document using the objectID

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [18]:
list ( collection.find( {'name' : Name } ))                     # find, can use one key or more

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [19]:
list ( collection.find( {'address.city' : City } ))             # find, can use one key or more

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [20]:
list ( collection.find().limit(1) )                             # gets a Limited set of documents

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 34,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [21]:
list ( collection.find().skip(1) )                              # gets all documents skipping first

[]

###5.1.3 Update a document with:  update_one()

In [22]:
## Update an existing document
update_result = collection.update_one( 
    {'name' : Name}, 
    {'$set' : { 'age' : 30 }} ) 

list (collection.find( {'name' : Name } ))

# Alternative : collection.find_one_and_update( {'name' : Name}, {'$set' : { 'age' : 30 }} )

[{'_id': ObjectId('60ea4282a23e1f0043234563'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalcode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 30,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'gender': 'Male',
  'likes_python': True,
  'name': 'Jordi '}]

In [23]:
update_result.raw_result

{'$clusterTime': {'clusterTime': Timestamp(1625965186, 152),
  'signature': {'hash': b'V\xda\xc8\xe0\xff\xe5\x18!\xff\x99\xbd\xa9?\xcfu\x19\xd0`\xe1q',
   'keyId': 6950216782485389313}},
 'electionId': ObjectId('7fffffff00000000000000a6'),
 'n': 1,
 'nModified': 1,
 'ok': 1.0,
 'opTime': {'t': 166, 'ts': Timestamp(1625965186, 152)},
 'operationTime': Timestamp(1625965186, 152),
 'updatedExisting': True}

In [24]:
## Insert a new document with update, will avoid to crash during insert if document already exist
insert_result = collection.update_one( {'name' : 'Javi Gonzalez'}, {'$set' : { 'age' : 30 }}, upsert= True )
list (collection.find( {'name' : 'Javi Gonzalez'} ))

[{'_id': ObjectId('60ea428349bc7ea234c1cf8f'),
  'age': 30,
  'name': 'Javi Gonzalez'}]

In [25]:
update_result.acknowledged

True

###5.1.4 Delete a document with:  delete_one()

In [26]:
delete = collection.delete_one({'name': 'Javi Gonzalez'})

In [27]:
delete.deleted_count   # informs that 1 document has been deleted

1

In [28]:
collection.delete_one({'name': Name})

##5.2 Create Read Update Delete  (many document)

###5.2.1 Create a document with:  insert_many()

To insert many documents can be done using: insert_many and JavaScript notation  { 'attributeDocument1'  :  'content1' } , { 'attributeDocument2'  :  'content2'},{ ... }

In [29]:
import datetime
collection.insert_many(  [                          # <---- start a list with [
##  Insert Document 1
  {
  'name': 'Jordi Gonzalez',
  'age': 25,
  'likes_python': True,
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39),
  'address': {
      'street': 'Torrent de l\'Olla',
      'number': 70,
      'floor': None,
      'city': 'Barcelona',
      'postalCode': '08012'
             },
  'height':  1.72,
  'favouriteFruits': ['banana','pineapple','orange']
  },

##  Insert Document 2
  {
  'name': 'Maria Smith',
  'age': 30,
  'likes_python': True,
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12),
  'address': {
      'street': 'Numancia',
                                                     ##  missing number
                                                     ##  missing floor
      'city': 'Barcelona',
      'postalCode': '08029'
             },
  'height':  1.56,
  'favouriteFruits': ['lemon','pineapple']
  }
  ]   )                                                   # <---- finalize the list ]

###5.2.2 Read many documents with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [30]:
list ( collection.find( {'$or': [ {'name': 'Jordi Gonzalez'},{'name': 'Maria Smith'} ]}))        # find

[{'_id': ObjectId('60ea4283a23e1f0043234564'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalCode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 25,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'height': 1.72,
  'likes_python': True,
  'name': 'Jordi Gonzalez',
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39)},
 {'_id': ObjectId('60ea4283a23e1f0043234565'),
  'address': {'city': 'Barcelona',
   'postalCode': '08029',
   'street': 'Numancia'},
  'age': 30,
  'favouriteFruits': ['lemon', 'pineapple'],
  'height': 1.56,
  'likes_python': True,
  'name': 'Maria Smith',
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12)}]

###5.2.3 Update many documents with:  update_many()

In [31]:
collection.update_many( {'isActive': True }, {'$set' : { 'isActive': False }} )
list (collection.find( ))                                  # List all documents

[{'_id': ObjectId('60ea4283a23e1f0043234564'),
  'address': {'city': 'Barcelona',
   'floor': None,
   'number': 70,
   'postalCode': '08012',
   'street': "Torrent de l'Olla"},
  'age': 25,
  'favouriteFruits': ['banana', 'pineapple', 'orange'],
  'height': 1.72,
  'likes_python': True,
  'name': 'Jordi Gonzalez',
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39)},
 {'_id': ObjectId('60ea4283a23e1f0043234565'),
  'address': {'city': 'Barcelona',
   'postalCode': '08029',
   'street': 'Numancia'},
  'age': 30,
  'favouriteFruits': ['lemon', 'pineapple'],
  'height': 1.56,
  'likes_python': True,
  'name': 'Maria Smith',
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12)}]

###5.2.4 Delete many documents with:  delete_many()

In [32]:
delete = collection.delete_many({'likes_python': True})    # deletes as many documents as the filter
list (collection.find( ))                                  # List all documents

[]

In [33]:
delete.deleted_count   # items deleted

2